body {
  color: #fff;
  overflow-x: hidden;
  z-index: 0;
}
#nav-dub {
  color: #8c509b;
  font-weight: bold;
}
/* Main Info */
#main-info-container {
  position: absolute;
  height: calc(100% - 60px);
  left: 50%;
  top: 60px;
  overflow: hidden;
  width: 400px;
  background-color: #222; 
  z-index: 0;
}
#main-info {
  margin-left: 60px;
  position: absolute;
  top: 20%;
}
#main-info-subtitle {
  font-size: 18px;
  margin-bottom: 0;
}
#main-info-title {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 50px;
}
#main-info-content p{
  font-size: 15px;
}
.main-button {
  background-color: #1dab41;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  padding-top: 8px;
  width: 120px;
}
#main-info-vote {
  margin-left: 20px;
}
#main-submit-info {
  display: none;
}

