body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
/* Main */
#main-container {
  position: relative;
  width: 100%;
  top: 60px;
}
.slide {
  float: left;
  width: 10vw;
  height: 300px;
  background-color: #eee;
  z-index: 1;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  position: relative; 
  overflow: hidden;
}
.slide-selected {
  width: 60vw;
  background-color: #fff;
  z-index: 1;
}
.slide-small {
  width: 100vw;
  height: 80vw;
  float: left;
}
.main-title {
  font-size: 36px;
  width: 36px;
  font-weight: bold;
  top: 90px;
  left: 50%;
  margin: 0 0 0 -18px;
  position: absolute;
  line-height: 40px;
  transition: all 0.2s ease;
}
.main-title-selected {
  width: 300px;
  top: 25px;
  left: 100px;
  position: absolute;
  margin: 0;
}
.main-title-small {
  font-size: 36px;
  width: 216px;
  font-weight: bold;
  top: 25px;
  left: 100px;
  position: absolute;
  margin: 0;
}
.main-icon {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -20px;
  top: 30px;
  transition: all 0.2s ease;
}
.main-icon-selected {
  position: absolute;
  left: 30px;
  top: 30px;
  margin: 0;
}
.main-icon-small {
  position: absolute;
  left: 30px;
  top: 30px;
  margin: 0;
}
#main-show {
  color: #1dab41;
}
#main-forum {
  color: #ef821e;
}
#main-poster {
  color: #1dade5;
}
#main-dub {
  color: #90529c;
}
#main-show:hover {
  color: #00853c;
}
#main-forum:hover {
  color: #e95520;
}
#main-poster:hover {
  color: #008cce;
}
#main-dub:hover {
  color: #74308d;
}
/*Change Color of SVGs on hover*/
#main-show:hover path {
  fill: #00853c;
}
#main-show:hover polygon {
  fill: #a9ce52;
}
#main-forum:hover polygon {
  fill: #e95520;
}
#main-poster:hover circle {
 fill: #008cce;
}
#main-poster:hover polygon {
 fill: #7fc7ef;
}
#main-dub:hover path:nth-child(1) {
  fill: #74308d;
}
#main-dub:hover path:nth-child(2) {
  fill: #c38fbd;
}
/* Footer */
#footer-container {
  position: relative;
  height: 300px;
  width: 100%;
  background: #222;
  color: #fff;
  font-size: 12px;
  text-align: center;
  clear: both;
  bottom: 0;
  top: 60px;
}
#footer-container a {
  color: #fff;
  margin: 0 5px 0 5px;
}
#footer-container a:hover {
  text-decoration: underline;
}
#footer-container img {
  float: left;
}
#footer-container .svg:hover path{
  fill: #1dade5;
}
#footer-logo {
  position: relative;
  top: 40px;
}
#footer-column-container {
  position: relative;
  left: 50%;
  margin: 0 0 0 -300px;
  top: 50px;
  width: 600px;
  height: 150px;
}
.footer-column {
  width: 200px;
  float: left;
  display: inline-block;
}
.footer-title {
  font-size: 14px;
  font-weight: bold;
  color: #888;
  margin: 15px 0 5px 0;
  clear: both;
}
#footer-copyright {
  position: absolute;
  font-size: 10px;
  color: #888;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -66px;
}