body {
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow-y: hidden;
}
h2 {
	margin: 0;
}
#main-container {
	height: calc(100% - 60px);
	width: -webkit-max-content;
	position: relative;
	padding: 30px;
}
.main-day {
	position: relative;
	margin: 10px;
	float: left;
	bottom: 0;
	height: 80%;
}
.main-event {
	height: 90%;
	width: 80vh;
	bottom: 0;
	float: left;
	position: relative;
}
.main-day img {
	height: 95%;
	float: left;
	margin: 0 30px 0 0;
}
.main-day h2 {
	position: absolute;
	bottom: 0;
}
.main-day p {
	vertical-align: bottom;
}