* {
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}
body {
	position: absolute;
	overflow-y: auto;
	width: -webkit-max-content;
	height: 100%;
}
#main-container {
	height: calc(100% - 60px);
	position: relative;
	top: 60px;
	background: #fff;
	overflow-y: hidden;
}
.main-day {
	height: calc(100vh - 60px);
	position: relative;
	padding: 0 60px 0 60px;
	float: left;
	height: 100%;
	overflow: hidden;
}
.main-day:nth-child(even) {
	background: #ddd;
}
.main-day:nth-child(odd) {
	background: #fff;
}
.main-text {
	float: left;
	bottom: 0;
	position: absolute;
	right: 0;
	white-space: nowrap;
}
.main-date {
	margin: 0;
	position: absolute;
	bottom: 3vh;
	z-index: 10;
	font-size: 5vh;
	color: #333;
}
.main-event {
	top: 5vh;
	bottom: 0;
	margin: 0 30px 0 0;
	float: left;
	position: relative;
	height: 63vh;
}
.main-event img {
	width: 42vh;
	float: left;
}
.main-event-show {
	color: #00853C;
}
.main-event-forum {
	color: #E95320;
}
.main-event-special {
	color: #008CCE;
}
.main-text h1 {
	font-size: 5vh;
	display: inline-block;
	margin-top: 0;
}
.main-text p {
	display: inline-block;
	font-size: 3vh;
}
/* Special Shadow Effect */
.main-day:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 22px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 22px rgba(0,0,0,0.5);
  box-shadow: 0 0 22px rgba(0,0,0,0.5);
  -moz-border-radius: 10px/150px;
  border-radius: 10px/150px;
  top: 10%;
  bottom: 0;
  height: 80%;
  width: 300px;
  left: -300px;
  z-index: 10;
}